{% extends "blog/base.html" %}

{% block title %}My Blog{% endblock %}

{% block content %}

{% comment %} card {% endcomment %}
<h1 class="text-center p-4">My Blog</h1>

{% for post in posts %}

<div class="container d-flex justify-content-center pt-3">
  <div class="row">
    <div class="col">
      <div class="card shadow-lg" style="width: 50rem;">
        <div class="card-body">
          <h5 class="card-title text-center">{{ post.title }}</h5>
          <h6 class="card-subtitle color-subtitulo mb-2">Published {{ post.publish }} by {{ post.author }}</h6>
          <p class="card-text">{{ post.body|truncatewords:30|linebreaks }}</p>
          <a href="{{ post.get_absolute_url }}" class="btn"><button type="button" class="btn boton">Ver mas</button></a>
        </div>
      </div>
    </div>
  </div>
</div>

  {% endfor %}
  <div class="d-flex justify-content-center">
    {% include "pagination.html" with page=page_obj %}
  </div>
{% endblock %}